html {
	height: 100%;
	min-height: 100px;
	width: 100%;
	/*min-width: 400px;*/
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	display: block !important;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/* remove outline */
*:focus { outline: none; }  
:focus  { outline:none;  }
::-moz-focus-inner { border: 0; }


/* Slides & Subslides */
section.slides {
	overflow: hidden; /*to disable horizontal scroll when selecting with the mouse*/
	background-color: #ccc;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

section.slides > article, section.slides > article > article {
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -325px;
	width: 800px;
	height: 600px;
	overflow: hidden;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 40px;
	padding-right: 40px;
	position: absolute;  
	display: block;

	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: white;

	box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
	moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
	webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
	border: 1px solid rgba(0, 0, 0, .3);

	transition: transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	-ms-transition: -ms-transform .3s ease-out;
	-moz-transition: -moz-transform .3s ease-out;
	-webkit-transition: -webkit-transform .3s ease-out;

	background-size: 100% 100%;
	background-repeat:no-repeat;
	display: none;
	z-index: 1075;
}

/* Views */
section.slides > article > article {
	margin-top: -300px;
	display: none;
}

.slides > article[type="screen"], .slides > article[type="view_image"] {
	padding: 0;
}

/*class used to show a slide to get width and height and after that remove the class
this can not be done with show() and hide() because then it remains with display:none*/

/* Allow temp shown to be applied to any element*/
.temp_shown {
	display: block !important;
	opacity: 0 !important;
}

.temp_hidden {
	display: none !important;
}

.temp_hidden_soft {
	opacity: 0 !important;
}

.slides > article:not(.current){
	display: none;
	pointer-events: none;
}

.slides > article.current {
	display: block;
	z-index: 1076;
}

section.slides:not(.slides_editor) > article > article.hide_in_screen {
	-webkit-transition: all 0.85s ease-in ;
    -moz-transition: all 0.85s ease-in;
    -o-transition: all 0.85s ease-in;
    transition: all 0.85s ease-in;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
	display: block;
}

section.slides > article > article.show_in_screen {
	-webkit-transition: all 0.85s ease-in ;
    -moz-transition: all 0.85s ease-in;
    -o-transition: all 0.85s ease-in;
    transition: all 0.85s ease-in;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
	display: block;
}

/* Viewer hotspots */
.hotspot_with_actions {
	cursor: pointer;
}


/* Elements in content views */

article[type="view_content"] {
	padding: 0px !important;
}

.objectelement {
	width: 100%;
	height: 100%;
	border: none;
	padding: none;
}

div.view_content_text {
    padding: 2% 4%;
    width: 93% !important;
    height: 96% !important;
}


/* Full screen */

#page-fullscreen {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 30px;
	background: transparent;
	background-repeat: no-repeat;
	background-image: url("/images/vicons/fullscreen.png");
	background-size: auto 600%;
	text-align: center;
	border: medium none;
	opacity: 1;
	cursor: pointer;
	z-index: 2;
}

#page-fullscreen.fson {
	background-position: center 80%;
}

#page-fullscreen.fson:hover {
	background-position: center 100%;
}

#page-fullscreen.fsoff {
	background-position: center 0;
}

#page-fullscreen.fsoff:hover {
	background-position: center 20%;
}

#viewbar {
	background-color: #555;
	height: 40px;
	bottom: 0;
	opacity: 1.0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1200;
}


/* Style for Texts (CkEditor version) */

html {
	font-size: 12px; /* text-base size */
}

article {
	font-family: Arial, Helvetica, sans-serif;
}

article > div > p {
	margin-top: 0rem;
	margin-bottom: 1rem;
	font-size: 1rem;
}

article > div a {
	text-decoration: none;
	cursor: pointer;
}

div.contentfiltered img {
	width: 80% !important;
	height: 80% !important;
	max-width: 80% !important;
	max-height: 80% !important;
	margin-top: 10% !important;
}

div.contentfiltered {
	text-align: center !important;
}

div#viewerpreview {
	position: absolute; 
	top: 47px; 
	left: -262px; 
	width: 600px; 
	padding-top: 10px; 
	padding-right: 10px; 
	padding-bottom: 10px; 
	padding-left: 10px; 
	font-size: 1.9rem;
	text-align: center; 
	color: rgb(255, 255, 255); 
	font-family: 'trebuchet ms', verdana, arial, sans-serif; 
	-webkit-transform: rotate(-45deg); 
	-webkit-transform-origin-x: 50%; 
	-webkit-transform-origin-y: 0px; 
	-o-transform: rotate(-45deg);
	-o-transform-origin-x: 50%;
	-o-transform-origin-y: 50%;
	-ms-transform: rotate(-45deg); 
	-ms-transform-origin-x: 50%; 
	-ms-transform-origin-y: 0px; 
	-moz-transform: rotate(-45deg); 
	-moz-transform-origin-x: 50%; 
	-moz-transform-origin-y: 0px;
	background-color: rgb(0, 0, 0); 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-top-style: solid; 
	border-right-style: solid; 
	border-bottom-style: solid; 
	border-left-style: solid; 
	border-top-color: rgb(170, 170, 170); 
	border-right-color: rgb(170, 170, 170); 
	border-bottom-color: rgb(170, 170, 170); 
	border-left-color: rgb(170, 170, 170); 
	border-image: initial; 
	opacity: 0.5; 
	z-index: 1080;
	pointer-events: none;
}

img#closeButtonImg {
	position: absolute;
	top: 10px;
	right: 10px;
	max-width: 100px;
	max-height: 100px;
	min-width: 30px;
	min-height: 30px;
	width: 100%;
	background-color: transparent;
}

button#closeButton {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 8%;
	height: 100%;
	max-height: 100px;
	background-color: transparent;
	cursor: pointer;
	border: none;
	z-index: 2620;
}

.close_view {
	position: absolute;
	top: 0.5%;
	right: 0.5%;
	width: 23px;
	height: 23px;
	background-size: contain;
	cursor: pointer;
	z-index: 1103;
	background-image: url("/images/vicons/close.png");
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.close_view:hover {
	background-image: url("/images/vicons/close_hover.png");
}


/***** Fancybox ****************/

body.SceneMakerViewerBody #fancybox-close {
	width: 22px;
	height: auto;
	right: 3px;
	top: 7px;
	background: transparent url('/images/vicons/close2.png') no-repeat center top;
	background-size:60%;
}

body.SceneMakerViewerBody #fancybox-close:hover {
	background: transparent url('/images/vicons/close2_hover.png') no-repeat center top;
	background-size:60%;
}

.outer_box_viewer {
	width: 100%;
	height: 100%;
}

.fancy_viewer_tabs {
	border-bottom: 1px solid #ff005d;
	border-radius: 5px 5px 0px 0px;
	moz-border-radius: 5px 5px 0px 0px;
	webkit-border-radius: 5px 5px 0px 0px;
}

.fancy_viewer_tabs ul {
	width: auto;
	list-style-type: none;
	background-color: #ffffff;
	color: #ff005d;
	margin: 0px;
	line-height: 1.5;
	font-weight: bold;
	padding: 0px;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px; 
}

.fancy_viewer_tabs li {
	display: inline-block;
	margin-bottom: -1px;
}

.fancy_viewer_tabs li a {
	display:block;
	padding: 0.5rem 1.5rem;
	text-decoration: none;
	background: transparent;
	color: #ff005d;
	font-size: 1.5rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-bottom-color: transparent;
}

.fancy_viewer_tabs li a:hover {
	border: 1px solid #ff005d;
	border-bottom-color: #fff;
	background: #fff;
}

.fancy_viewer_tabs li a.fancy_selected {
	background: #ffffff;
	color: #ff005d;
	border: 1px solid #ff005d;
	border-bottom-color: transparent;
}

.fancy_viewer_tab_content {
	text-align:left;
}


/* Buttons */
.button {
	padding: 5px 10px;
	display: inline;
	text-decoration:none;
	background: rgb(66, 139, 202) repeat-x bottom;
	color:#f9f9f9;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	border:none;
}

.button:hover {
	background: #326999 repeat-x bottom;
}

/* Notifications CSS */

#notification_template_wrapper {
	width: 100%;
}

#notification_template, #notification_template_cloned {
}

.notification_row1, .notification_row2, .notification_middlerow {
	width: 92%;
	padding-left: 4%;
	padding-right: 4%;
	margin-bottom: 1%;
}

.notification_row1 {
	padding-top: 4%;
}

.notification_row2 {
	height: 30px;
	padding-top: 4%;
	padding-bottom: 0%;
	text-align: right;
}

.notification_middlerow {
	padding-top: 4%;
}

.notification_button {
	padding: 5px 20px !important;
}

.notification_button[buttonnumber='1'] {
	margin-right: 0%;
}

.notification_button[buttonnumber='2'], .notification_button[buttonnumber='3'] {
	margin-right: 3%;
}

.notification_text {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.1rem;
	color: #666;
	padding-bottom: 4%;
}

.forceCenter {
	text-align: center !important;
}

img.notificationIcon {
	width: 55px;
	height: 55px;
	margin-right: 4%;
	margin-left: 0px;
	display: inline;
}

img.notificationIconDelete {
	height: 50px;
	width: 65px;
}


/* Custom dialog */

span.adverttext {
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.6rem;
	color:#CCC;
	padding-bottom: 15px;
}

div.button_advert_wrapper {
	margin-top: 50px;
	text-align: center;
}

a.button_advert {
	width: 60px;
	height: 23px;
	padding: 5px 10px;
	display: inline;
	text-decoration:none;
	background: #ff005d repeat-x bottom;
	opacity: 0.6;
	color:#f9f9f9;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

a.button_advert:hover {
	opacity: 1;
	text-shadow: 1px 1px #666;
}

.viewer_button {
	padding: 5px 10px;
	display: inline;
	text-decoration:none;
	background: rgb(66, 139, 202) repeat-x bottom;
	opacity: 0.6;
	color:#f9f9f9;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
} 

.viewer_button:hover {
	opacity: 1;
	text-shadow: 1px 1px #666;
}


/* Loading */

.loading_fancy {
	text-align: center;
	height: 100%;
	width: 100%;
}

img.loading_fancy_img {
	height: 15%;
	margin-top: 30%;
}

img.loading_tags {
	height: 10% !important;
	margin-top: 0% !important;
}

img.loading_presentation_carrousel {
	height: 30% !important;
	margin-top: 32% !important;
}

.waitCursor {
	cursor: wait !important;
}

.loadingtmpShown {
	display: block !important;
}

.loadingtmpShown > div:not(.loading_fancy) {
	display: none !important;
}

/* Waiting overlay */
#waiting_overlay{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0 !important;
	z-index: 99999999;
	background: white;
	text-align: center;
	cursor: wait !important;
	opacity: 0.8;
}